{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django App</title>
    <link rel="stylesheet" href="{% static "CSS/main.css" %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <nav class="navbar container">
        <a href="{% url "index" %}" class="logo">
            <img src="{% static "IMG/logo2.png" %}" alt="Logo" width="100">
        </a>
        <ul class="menu">
            <li>
                <a href="{% url "index" %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url "projects" %}">Projects</a>
            </li>
            <li>
                <a href="{% url "tasks" %}">Tasks</a>
            </li>
            <li>
                <a href="{% url "create_project" %}">Create project</a>
            </li>
            <li>
                <a href="{% url "create_task" %}">Create task</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url "about" %}">About</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url "log_out" %}">Log Out</a>
            </li>
            {% else %}
            <li>
                <a href="{% url "sign_up" %}">Sign Up</a>
            </li>
            <li>
                <a href="{% url "log_in" %}">Log In</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
