body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #202020;
    color: #ffffff;
    /* Margen a la izquierda */
    margin-left: 20px;
    /* Margen a la derecha */
    margin-right: 20px;
}

.navbar {
    background: #6052b1;
    display: flex;
    /* Alinear el logo a la izquierda y el menú a la derecha */
    justify-content: space-between;
    /* Centrar verticalmente */
    align-items: center;
}


.menu {
    /* Quitar las viñetas de la lista */
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    /* Hacer que los elementos del menú se muestren en línea */
    display: inline;
    /* Espaciado entre los elementos del menú */
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    /* Color del texto del menú */
    color: #d3d3d3;
    /* Espaciado interno para los elementos del menú */
    padding: 10px 15px;
}

.menu a:hover {
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 10px;
}

.margin_bottom_list {
    padding-bottom: 30px;
}

.card {
    background: #292929;
    padding: 10px 5px 10px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #d3d3d3
}

.card:hover {
    background: #373737;
}

.card a {
    text-decoration: none;
    color: #ffffffe7;
}

.cddetail {
    justify-content: space-around;
}

.text {
    margin-bottom: 10px;
}

.input {
    background: gainsboro;
    padding: 10px;
    display: block;
}

.button {
    border-radius: 7px;
    width: auto;
    min-width: -webkit-fill-available;
    height: 30px;
}

.bdone {
    background-color: rgb(111, 165, 30);
}

.bdelete {
    background-color: rgb(148, 45, 45);
    color: whitesmoke;
}

.bsmall {
    min-width: auto;
}

.bimportant {
    background-color: rgb(202, 199, 37);
}

.bupdate {
    height: 36px;
}

.log_ask a {
    color: #ffffff;
}