{% extends "layout/base.html" %}
{% block content %}

<h1> {% if not task.done %}⏳ {% else %}✅ {% endif %}{{ task.title }}{% if task.important %} ⭐{% endif %}</h1>
<form class="card cddetail" method="POST" action="{% url "update_delete_task" %}">
    {% csrf_token %}
    <div > 
        
        <p>{{task.description}}</p>
        <i>Project: {{ task.project.name }}</i>
        <p>Created: {{ task.datecreated|date:"d M, Y : H:i" }}</p>
        {% if task.datecompleted %}
        <p>Completed: {{ task.datecompleted|date:"d M, Y : H:i" }}</p>
        {% endif %}
    </div>
    <div> 
        <button class="button bdone" type="submit" name="check_task" value="{{ task.id }}">
            ✔ Done
        </button>
        <button class="button bimportant" type="submit" name="imp_task" value="{{ task.id }}">
            ⭐ Important
        </button>
        <button class="button bdelete" type="button" onclick="delete_verification_task({{ task.id }})">
            ✖ Delete
        </button>
    </div>
    <input type="hidden" id="task_id" name="delete_task" value="">
    <div>
        <p>Title:</p>
        {{ form.title }}
        <p>Description: </p>
        {{ form.description }}
        <p>Project: </p>
        {{ form.project }}
        <p>{{ form.important.as_hidden }}</p>
        <button class="button bupdate" type="submit" name="update_task" value={{ task.id }}>
            Update
        </button>
    </div>
</form>

{% endblock content %}