{% extends "projects/projects.html" %}
{% block project_detail %}

<div class="card">
    <!-- Important incompleted -->
    <div class="card-header text-center">
        <h2>{{ project.name }}</h2>
    </div>
    <div class="list-group list-group-flush">
        {% for task in tasks.tasks_incompleted_important %}
        <div class="d-flex justify-content-between">
            <a class="list-group-item list-group-item-action" aria-current="true" href="{% url "task_detail" task.id %}">
                <h3 class="mb-1">{% if not task.done %}⏳ {% else %}✅ {% endif %}{{task.title}}{% if task.important %} ⭐{% endif %}</h3>
                <small>{{ task.project.name }}</small>
                <p class="mb-1">{{ task.description }}</p>
            </a>
            <div class="p-1">
                <!-- Button trigger modal -->
                <button class="btn btn-outline-danger" type="button" id="{{ task.id }}" data-bs-toggle="modal" data-bs-target="#DeleteModal{{ task.id }}">
                    ✖
                </button>
                <form method="POST" action="{% url "update_delete_task" %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit" name="check_task" value="{{ task.id }}">
                        ✔
                    </button>
                    <button class="btn btn-outline-warning" type="submit" name="imp_task" value="{{ task.id }}">
                        ⭐
                    </button>
                </form>
            </div>
        </div>    

        <!-- Modal -->
        <div class="modal fade" id="DeleteModal{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-title">{{ task.title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to eliminate this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST"  action="{% url "update_delete_task" %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="delete_task" id="delete_task" value="{{ task.id }}">Delete</button>
                    </form>  
                </div>
                </div>
            </div>
        </div>
        {% endfor %} 

    </div>



    <div class="list-group list-group-flush">
        {% for task in tasks.tasks_incompleted_notimportant %}
        <div class="d-flex justify-content-between">
            <a class="list-group-item list-group-item-action" aria-current="true" href="{% url "task_detail" task.id %}">
                <h3 class="mb-1">{% if not task.done %}⏳ {% else %}✅ {% endif %}{{task.title}}{% if task.important %} ⭐{% endif %}</h3>
                <small>{{ task.project.name }}</small>
                <p class="mb-1">{{ task.description }}</p>
            </a>
            <div class="p-1">
                <!-- Button trigger modal -->
                <button class="btn btn-outline-danger" type="button" id="{{ task.id }}" data-bs-toggle="modal" data-bs-target="#DeleteModal{{ task.id }}">
                    ✖
                </button>
                <form method="POST" action="{% url "update_delete_task" %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit" name="check_task" value="{{ task.id }}">
                        ✔
                    </button>
                    <button class="btn btn-outline-warning" type="submit" name="imp_task" value="{{ task.id }}">
                        ⭐
                    </button>
                </form>
            </div>
        </div>    

        <!-- Modal -->
        <div class="modal fade" id="DeleteModal{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-title">{{ task.title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to eliminate this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST"  action="{% url "update_delete_task" %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="delete_task" id="delete_task" value="{{ task.id }}">Delete</button>
                    </form>  
                </div>
                </div>
            </div>
        </div>
        {% endfor %} 
        
    </div>

    <div class="card-header text-center">
        <h3>Completed</h3>
    </div>
    <div class="list-group list-group-flush">
        {% for task in tasks.tasks_completed %}
        <div class="d-flex justify-content-between">
            <a class="list-group-item list-group-item-action" aria-current="true" href="{% url "task_detail" task.id %}">
                <h3 class="mb-1">{% if not task.done %}⏳ {% else %}✅ {% endif %}{{task.title}}{% if task.important %} ⭐{% endif %}</h3>
                <small>{{ task.project.name }}</small>
                <p class="mb-1">{{ task.description }}</p>
            </a>
            <div class="p-1">
                <!-- Button trigger modal -->
                <button class="btn btn-outline-danger" type="button" id="{{ task.id }}" data-bs-toggle="modal" data-bs-target="#DeleteModal{{ task.id }}">
                    ✖
                </button>
                <form method="POST" action="{% url "update_delete_task" %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit" name="check_task" value="{{ task.id }}">
                        ✔
                    </button>
                    <button class="btn btn-outline-warning" type="submit" name="imp_task" value="{{ task.id }}">
                        ⭐
                    </button>
            </div>
        </div>    

        <!-- Modal -->
        <div class="modal fade" id="DeleteModal{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal-title">{{ task.title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to eliminate this?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST"  action="{% url "update_delete_task" %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="delete_task" id="delete_task" value="{{ task.id }}">Delete</button>
                    </form>  
                </div>
                </div>
            </div>
        </div>
        {% endfor %} 

        {% block task_detail %}
        {% endblock task_detail %}
        
    </div>
</div>

{% endblock project_detail %}

