{% extends "layout/base.html" %}
{% block content %}

<h1>{{project}}</h1>
<div class="margin_bottom_list">

    {% for task in tasks %}
        {% if task.important and not task.done %}
            <div class="card">
                <a href="{% url "task_detail" task.id %}">
                    <div class="text">
                        <h3> {% if not task.done %}⏳ {% else %}✅ {% endif %}{{task.title}}{% if task.important %} ⭐{% endif %}</h3>
                        <p>{{task.description}}</p>
                    </div>
                </a>
                <div>
                    <form method="POST" action="{% url "update_delete_task" %}">
                        {% csrf_token %}
                        <input type="hidden" id="task_id" name="delete_task" value="">
                        <button class="button bdone" type="submit" name="check_task" value="{{ task.id }}">
                            ✔ Done
                        </button>
                        <button class="button bimportant" type="submit" name="imp_task" value="{{ task.id }}">
                            ⭐ Important
                        </button>
                    </form>
                    <button class="button bdelete" type="button" onclick="delete_verification_task({{ task.id }})">
                        ✖ Delete
                    </button>
                </div>
                
            </div>
            
        {% endif %} 
    {% endfor %} 

    {% for task in tasks %}
        {% if not task.important and not task.done %}
            <div class="card">
                <a href="{% url "task_detail" task.id %}">
                    <div class="text">
                        <h3> {% if not task.done %}⏳ {% else %}✅ {% endif %}{{task.title}}{% if task.important %} ⭐{% endif %}</h3>
                        <p>{{task.description}}</p> 
                    </div>
                </a>
                <div>
                    <form method="POST" action="{% url "update_delete_task" %}">
                        {% csrf_token %}
                        <input type="hidden" id="task_id" name="delete_task" value="">
                        <button class="button bdone" type="submit" name="check_task" value="{{ task.id }}">
                            ✔ Done
                        </button>
                        <button class="button bimportant" type="submit" name="imp_task" value="{{ task.id }}">
                            ⭐ Important
                        </button>
                    </form>
                    <button class="button bdelete" type="button" onclick="delete_verification_task({{ task.id }})">
                        ✖ Delete
                    </button>
                </div>
                
            </div>
            
        {% endif %} 
    {% endfor %} 

    <h1>Completed</h1>
    {% for task in tasks %}
        {% if task.done %}
            <div class="card">
                <a href="{% url "task_detail" task.id %}">
                    <div class="text">
                        <h3> {% if not task.done %}⏳ {% else %}✅ {% endif %}{{task.title}}{% if task.important %} ⭐{% endif %}</h3>
                        <p>{{task.description}}</p> 
                    </div>
                </a>
                <div>
                    <form method="POST" action="{% url "update_delete_task" %}">
                        {% csrf_token %}
                        <input type="hidden" id="task_id" name="delete_task" value="">
                        <button class="button bdone" type="submit" name="check_task" value="{{ task.id }}">
                            ✔ Done
                        </button>
                        <button class="button bimportant" type="submit" name="imp_task" value="{{ task.id }}">
                            ⭐ Important
                        </button>
                    </form>
                    <button class="button bdelete" type="button" onclick="delete_verification_task({{ task.id }})">
                        ✖ Delete
                    </button>
                </div>
                
            </div>
            
        {% endif %} 
    {% endfor %} 
</div>

{% endblock content %}

