{% extends "layout/base.html" %}
{% block content %}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="POST" class="card card-body">
            {% csrf_token %}
            <h1 class="text-center py-1">Sign Up</h1>
            <div class="form-floating mb-3">  
                <input type="text" name="username" id="floatingInput" class="form-control" placeholder="username" maxlength="150" minlength="3" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" autofocus required>
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">  
                <input type="password" name="password1" id="floatingInput" class="form-control" placeholder="password" value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}" required>
                <label for="floatingInput">Password</label>
            </div>
            <div class="form-floating mb-3">  
                <input type="password" name="password2" id="floatingInput" class="form-control" placeholder="password" value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}" required>
                <label for="floatingInput">Confirm password</label>
            </div>
            <div class="form-floating mb-3">  
                <input type="email" name="email" id="floatingInput" class="form-control" placeholder="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required>
                <label for="floatingInput">Email</label>
            </div>
            <div>
            {% if error_message != "" %}  
                {% for field, errors in error_message.errors.items %}
                    {% for error in errors %}
                        <p class="text-danger ">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </div>
            <div class="d-grid gap-3">
            <button type="submit" class="btn btn-success">
                Sign Up 
            </button>
            <a class="btn btn-outline-secondary" href="{% url "log_in" %}">
                Already a member? Log in
            </a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}